In [1]:
# SUPERVISED MACHINE LEARNING
# Supervised learning is where you have input variables (x) and an output variable (Y) and you use an algorithm to learn 
# the mapping function from the input to the output. Y = f(X) The goal is to approximate the mapping function 
# so well that when you have new input data (x) that you can predict the output variables (Y) for that data.
# It is called supervised learning because the process of an algorithm learning from the training dataset can be 
# thought of as a teacher supervising the learning process.
# We know the correct answers, the algorithm iteratively makes predictions on the training data and is corrected by the teacher. 
# Learning stops when the algorithm achieves an acceptable level of performance.

# Supervised learning problems can be further grouped into regression and classification problems.
# Classification: A classification problem is when the output variable is a category, such as “red” or “blue” or “disease” and “no disease”.
# Regression: A regression problem is when the output variable is a real value, such as “dollars” or “weight”.

# Some popular examples of supervised machine learning algorithms are:
# Linear regression for regression problems.
# Random forest for classification and regression problems.
# Support vector machines for classification problems.


# UNSUPERVISED MACHINE LEARNING
# Unsupervised learning is where you only have input data (X) and no corresponding output variables.
# The goal for unsupervised learning is to model the underlying structure or distribution in the data in order to learn more about 
# the data.These are called unsupervised learning because unlike supervised learning above there is no correct answers and there is 
# no teacher. Algorithms are left to their own devises to discover and present the interesting structure in the data.

# Unsupervised learning problems can be further grouped into clustering and association problems.
# Clustering: A clustering problem is where you want to discover the inherent groupings in the data, such as grouping customers by purchasing behavior.
# Association:  An association rule learning problem is where you want to discover rules that describe large portions of your data, such as people that buy X also tend to buy Y.

# Some popular examples of unsupervised learning algorithms are:
# k-means for clustering problems.
# Apriori algorithm for association rule learning problems

# SEMI-SUPERVISED MACHINE LEARNING
# Problems where you have a large amount of input data (X) and only some of the data is labeled (Y) are 
# called semi-supervised learning problems.These problems sit in between both supervised and unsupervised learning.
# A good example is a photo archive where only some of the images are labeled, (e.g. dog, cat, person) and the majority are unlabeled.
# Many real world machine learning problems fall into this area. This is because it can be expensive or time-consuming to label data as it may 
# require access to domain experts. unlabeled data is cheap and easy to collect and store.

# LEARNING "UNSUPERVISED MACHINE LEARNING"
import pandas
airlines = pandas.read_csv('https://modcom.co.ke/datascience/datasets/AirlinesCluster.csv')
print('AIRLINE RECORDS:')
airlines

AIRLINE RECORDS:

,Balance,QualMiles,BonusMiles,BonusTrans,FlightMiles,FlightTrans,DaysSinceEnroll
0,28143,0,174,1,0,0,7000
1,19244,0,215,2,0,0,6968
2,41354,0,4123,4,0,0,7034
3,14776,0,500,1,0,0,6952
4,97752,0,43300,26,2077,4,6935
...,...,...,...,...,...,...,...
3994,18476,0,8525,4,200,1,1403
3995,64385,0,981,5,0,0,1395
3996,73597,0,25447,8,0,0,1402
3997,54899,0,500,1,500,1,1401
3998,3016,0,0,0,0,0,1398

In [2]:
# STEP 1: Convert data
array = airlines.values #gets data into an array format to allow splitting
x = array[:, 0:7] #selects up to row six, start count from 0

#STEP 2: Cluster data
from sklearn.cluster import KMeans
model = KMeans(n_clusters = 5)
model.fit(x)

#STEP 3: Show clusters
means = model.cluster_centers_
clusters = pandas.DataFrame(means, columns = ['Balance', 'QualMiles', 'BonusMiles', 'BonusTrans', 
                                              'FlightMiles', 'FlightTrans', 'DaysSinceEnroll'])
print('Clustered Airline Records,\n')
clusters

Clustered Airline Records,

,Balance,QualMiles,BonusMiles,BonusTrans,FlightMiles,FlightTrans,DaysSinceEnroll
0,98676.407692,161.841346,28020.831731,15.434615,625.858654,1.817308,4538.998077
1,208649.635294,309.826471,35481.944118,18.217647,1055.564706,2.950000,5038.200000
2,26389.023885,100.450239,8702.592357,8.756768,262.252389,0.811306,3736.939490
3,922162.526316,564.736842,58492.052632,20.894737,1607.526316,6.263158,6642.315789
4,419966.511364,449.965909,49823.329545,19.954545,1598.375000,5.034091,5945.193182